*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace !important;
    color: white;
}
.cc{
    background-image: url("back3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center;
}
.container {
    display: flex;
    align-items: center;
    min-height: 120vh;
    width: 100vw;
    text-align: center;
    padding: 20px 10px;
}
.heading-container {
    position: absolute;
    top:20px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: white;
    text-shadow: 2px 2px #404040;
}
.form-box{
    position: relative;
    margin: auto;
    transform: translateY(-30px);
    padding: 50px 40px 100px 40px;
    border: 1px solid rgb(22, 26, 53);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px #262727;
    background-color: white;
}
.ladder-box{
    position: relative;
    margin: auto;
    padding: 30px 40px;
    border: 1px solid rgb(22, 26, 53);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px #262727;
    background-color: white;
}
@media(max-width: 800px){
    .ladder-box{
        padding: 30px 8px;
    }
}
.ladder-box h1 {
    margin-bottom: 0;
}
.handle-name {
    margin-bottom: 10px;
    color: grey;
}
.danger {
    color: red;
}
.danger span {
    font-size: 27px;
}
@keyframes ride{
    0%{right: 0;}
    50%{right: calc(100% - 108px);}
    100%{right: 0;}
}
.love {
    position: absolute;
    left: 2px;
    bottom: -30px;
    color: white;
    transition: all 1s;
}
.love img {
    margin-bottom: 5px;
}
.love a {
    text-decoration: none;
    color: white;
}
.love:hover{
    text-decoration: underline;
}
.count {
  cursor: text !important;
}
.count:hover {
  background-color: #28a745;
  border-color: #28a745;
  text-decoration: none;
}
.tableProblem {
    text-decoration: none;
    color: inherit;
    font-size: large;
}
.tableProblem {
    text-decoration: none;
    color: #ffffff !important;
}
.tableProblem:hover {
    color:  rgb(23, 32, 153) !important;
    font-weight: bolder;
    font-size: larger;
}
#problemTable {
    opacity: 0.7;
    text-align: center;
}

#AC {
    background-color: #147c2c;
      color: #ffffff !important;
      font-size: larger;
      font-weight: bolder;
}
  #WA {
      background-color: rgb(163, 30, 30);
    color: #ffffff !important;
    font-size: larger;
    font-weight: bolder;
  }
  .key {
	border: 1px solid #79d9ce;
	width: 25px;
    height: 25px;
    margin-right: 10px;
}
#flexOfVerdict {
    background-color:whitesmoke;
    opacity: 0.7;
    color: black;
    font-weight: bold;
}
#notDone {
    background-color: rgb(255, 255, 255);
    color: #000000 !important;
    font-size: larger;
    font-weight: bolder;
}
.ac {
    background-color: #147c2c;
    border-radius: #147c2c;
}
.wa {
    background-color: rgb(163, 30, 30);
    border-color: rgb(163, 30, 30);
}
#smay {
    height: 0px;
}
.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #0069d9; /* Blue */
    border-radius: 50%;
    margin: 25px auto;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
