*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace !important;
    color: white;
}
.cc{
    background-image: url("back3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center;
}
.container {
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 40px 10px;
}
.heading-container {
    position: absolute;
    top:40px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: white;
    text-shadow: 2px 2px #404040;
}
.form-box{
    position: relative;
    margin: auto;
    transform: translateY(-30px);
    padding: 50px 40px 100px 40px;
    border: 1px solid rgb(22, 26, 53);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px #262727;
    background-color: white;
}
.ladder-box{
    position: relative;
    margin: auto;
    padding: 30px 40px;
    border: 1px solid rgb(22, 26, 53);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px #262727;
    background-color: white;
}
@media(max-width: 800px){
    .ladder-box{
        padding: 30px 8px;
    }
}
.ladder-box h1 {
    margin-bottom: 0;
}
.handle-name {
    margin-bottom: 10px;
    color: grey;
}
.danger {
    color: red;
}
.danger span {
    font-size: 27px;
}
@keyframes ride{
    0%{right: 0;}
    50%{right: calc(100% - 108px);}
    100%{right: 0;}
}
.love {
    position: absolute;
    left: 2px;
    bottom: -30px;
    color: white;
    transition: all 1s;
}
.love img {
    margin-bottom: 5px;
}
.love a {
    text-decoration: none;
    color: white;
}
.love:hover{
    text-decoration: underline;
}
.count {
  cursor: text !important;
}
.count:hover {
  background-color: #28a745;
  border-color: #28a745;
  text-decoration: none;
}
.tableProblem {
    text-decoration: none;
    color: inherit;
    font-size: large;
}
.tableProblem {
    text-decoration: none;
    color: #ffffff !important;
}
.tableProblem:hover {
    color:  rgb(23, 32, 153) !important;
    font-weight: bolder;
    font-size: larger;
}
#problemTable {
    opacity: 0.7;
    text-align: center;
}
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  #AC {
      background-color: #097422 !important;
  }
  #WA {
    background-color: #990e0e !important;
  }